body {
    background: #c0c6dc;
    margin: 0;
}
.wrapper {
border-radius: 40px;
width: 1200px;
background-color: aliceblue;
margin: 27px auto;
display: flex;
padding: 13px 18px;
gap: 60px;

}
.osnova{
    border-radius: 40px;
width: 780px;
height: 1206px;
    background: #fff;
}
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.h2{
    font-family: var(--font-family);
font-weight: 700;
font-size: 22px;
color: #1f2937;
}
.followers-counter{
    font-family: var(--font-family);
font-weight: 400;
font-size: 22px;
color: #4a5161;
padding-left: 16px;
}
.button{
border: 1px solid #7549ea;
border-radius: 16px;
padding: 14px 16px;
width: 290px;
height: 48px;
font-weight: 700;
font-size: 16px;
}
.buttons-box
{
display: flex;
flex-direction: column;
gap: 16px;
justify-content: center;
}

.top-btn{
 border-radius: 16px;
padding: 14px 16px;
width: 290px;
 height: 48px;
background: #7549ea;
color:#fff;
display:flex;
align-items: center;
justify-content: center;
  
}

.bot-btn{
    border-radius: 16px;
    padding: 14px 16px;
    width: 290px;
    height: 48px;

color: #7549ea;
display:flex;
align-items: center;
justify-content: center;
border: 1px solid #7549ea;
}
    .interests {
        display: flex;
        flex-wrap: wrap;
        width: 290px;
        height: 195px;
        gap: 8px;
        color: #7549ea;
    }


.tag {
    background: rgba(117, 73, 234, 0.2);
    border-radius: 6px;

    padding: 0px 8px;
    height: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #7549ea;
    margin: 0;
}
.friends{
    margin: 48px 0;
    
}